spring:
  application:
    name: petshop

  datasource:
    url: jdbc:postgresql://localhost:5432/petshop
    username: petshop
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  servlet:
    context-path: /petshop